# Scope of the notebook

I use pybiomart to retrieve the associated gene for each of the variants

In [1]:
import pybiomart
import pandas as pd

## Load the variants and Ensembl dataset

In [3]:
#read txt file
variant_list = pd.read_csv('variant_list.txt',  header=0)
variant_list.columns = ['variant']  
variant_list['variant']=variant_list['variant'].astype(str)
variant_list.head()

      variant
0  rs61751443
1  rs28935168
2  rs61751449
3  rs63750264
4  rs11136000

In [4]:
# Select the database
server = pybiomart.Server(host='http://www.ensembl.org')
server.list_marts()

                    name           display_name
0   ENSEMBL_MART_ENSEMBL       Ensembl Genes 98
1     ENSEMBL_MART_MOUSE       Mouse strains 98
2  ENSEMBL_MART_SEQUENCE               Sequence
3  ENSEMBL_MART_ONTOLOGY               Ontology
4   ENSEMBL_MART_GENOMIC    Genomic features 98
5       ENSEMBL_MART_SNP   Ensembl Variation 98
6   ENSEMBL_MART_FUNCGEN  Ensembl Regulation 98

In [5]:
# Select the dataset
mart = server['ENSEMBL_MART_SNP']
mart.list_datasets()

                      name                                       display_name
0          cfamiliaris_snp  Dog Short Variants (SNPs and indels excluding ...
1         drerio_structvar             Zebrafish Structural Variants (GRCz11)
2      ecaballus_structvar              Horse Structural Variants (EquCab3.0)
3         ptroglodytes_snp  Chimpanzee Short Variants (SNPs and indels exc...
4    cfamiliaris_structvar                Dog Structural Variants (CanFam3.1)
5           mgallopavo_snp  Turkey Short Variants (SNPs and indels excludi...
6      mmusculus_structvar              Mouse Structural Variants (GRCm38.p6)
7          nleucogenys_snp  Gibbon Short Variants (SNPs and indels excludi...
8               fcatus_snp  Cat Short Variants (SNPs and indels excluding ...
9       hsapiens_structvar             Human Structural Variants (GRCh38.p13)
10            hsapiens_snp  Human Short Variants (SNPs and indels excludin...
11       sscrofa_structvar              Pig Structural Variants (Sscrofa11.1)
12              oaries_snp  Sheep Short Variants (SNPs and indels excludin...
13        hsapiens_snp_som  Human Somatic Short Variants (SNPs and indels ...
14         rnorvegicus_snp  Rat Short Variants (SNPs and indels excluding ...
15       btaurus_structvar               Cow Structural Variants (ARS-UCD1.2)
16           mmusculus_snp  Mouse Short Variants (SNPs and indels excludin...
17             chircus_snp  Goat Short Variants (SNPs and indels excluding...
18             ggallus_snp  Chicken Short Variants (SNPs and indels exclud...
19           ecaballus_snp  Horse Short Variants (SNPs and indels excludin...
20              drerio_snp  Zebrafish Short Variants (SNPs and indels excl...
21       tnigroviridis_snp  Tetraodon Short Variants (SNPs and indels excl...
22  hsapiens_structvar_som     Human Somatic Structural Variants (GRCh38.p13)
23             pabelii_snp  Orangutan Short Variants (SNPs and indels excl...
24         scerevisiae_snp  Saccharomyces cerevisiae Short Variants (SNPs ...
25        oaries_structvar               Sheep Structural Variants (Oar_v3.1)
26           oanatinus_snp  Platypus Short Variants (SNPs and indels exclu...
27             sscrofa_snp  Pig Short Variants (SNPs and indels excluding ...
28            tguttata_snp  Zebra Finch Short Variants (SNPs and indels ex...
29      mmulatta_structvar              Macaque Structural Variants (Mmul_10)
30          mdomestica_snp  Opossum Short Variants (SNPs and indels exclud...
31            mmulatta_snp  Macaque Short Variants (SNPs and indels exclud...
32             btaurus_snp  Cow Short Variants (SNPs and indels excluding ...

In [7]:
mart.list_datasets()[mart.list_datasets()['name']=='hsapiens_snp']['display_name']

10    Human Short Variants (SNPs and indels excludin...
Name: display_name, dtype: object

In [9]:
 dataset = mart['hsapiens_snp']

In [24]:
# Attributes
dataset.attributes
dataset.list_attributes()[20:30]

                              name                    display_name description
20                      study_type                      Study type
21              study_external_ref        Study External Reference
22               study_description               Study Description
23                     source_name                     Source name
24                 associated_gene  Associated gene with phenotype
25                  phenotype_name                  Phenotype name
26           phenotype_description           Phenotype description
27  associated_variant_risk_allele  Associated variant risk allele
28                         p_value                         P value
29                        set_name                Variant Set Name

In [22]:
# Attributes for the gene
attr=pd.DataFrame(dataset.list_attributes())
attr[attr['display_name'].str.contains("gene")]

               name                    display_name description
24  associated_gene  Associated gene with phenotype

In [136]:
# Select filters
dataset.filters
dataset.list_filters()

                              name                    type description
0             link_so_mini_closure                    list
1       link_so_regulation_closure                    list
2            link_so_motif_closure                    list
3                         chr_name                    text
4                            start                    text
5                              end                    text
6                       band_start  drop_down_basic_filter
7                         band_end  drop_down_basic_filter
8                     marker_start  drop_down_basic_filter
9                       marker_end
10              chromosomal_region                    text
11                          strand                    text
12                variation_source                    list
13                      snp_filter                    list
14        variation_synonym_source                    list
15              snp_synonym_filter                    list
16                      study_name                    list
17                      study_type                    list
18           phenotype_description                    list
19                phenotype_source                    list
20                   pub_short_ref                    text
21              variation_set_name                    list
22                 sift_prediction                    list
23                      sift_score                    text
24             polyphen_prediction                    list
25                  polyphen_score                    text
26               minor_allele_freq                    text
27        minor_allele_freq_second                    text
28           clinical_significance                    list
29                  with_validated                 boolean
30         with_variation_citation                 boolean
31          distance_to_transcript                    text
32                    ensembl_gene                    list
33             so_consequence_name                    list
34               feature_stable_id                    list
35  regulatory_so_consequence_name                    list
36                      motif_name                    list
37       motif_so_consequence_name                    list

In [13]:
filters=pd.DataFrame( dataset.list_filters())
filters[filters['name'].str.contains("snp")]

                  name  type description
13          snp_filter  list
15  snp_synonym_filter  list

In [29]:
# Get the selected attributes through a query where the condition is the variant name

#r=dataset.query(attributes=['refsnp_id','chr_name','ensembl_gene_stable_id', 'refsnp_source','chrom_start','chrom_end','p_value','minor_allele_freq','distance_to_transcript','set_name','associated_gene'], filters={'snp_filter':variant_list['variant'].values.tolist()})
result=dataset.query(attributes=['refsnp_id','chr_name','ensembl_gene_stable_id', 'refsnp_source','chrom_start','chrom_end','associated_gene'], filters={'snp_filter':variant_list['variant'].values.tolist()})

In [30]:
result.head()

,Variant name,Chromosome/scaffold name,Gene stable ID,Variant source,Chromosome/scaffold position start (bp),Chromosome/scaffold position end (bp),Associated gene with phenotype
0,rs11136000,8,ENSG00000120885,dbSNP,27607002,27607002,CLU
1,rs139237860,14,ENSG00000176165,dbSNP,28768377,28768377,NaN
2,rs141088742,14,ENSG00000176165,dbSNP,28767873,28767873,FOXG1
3,rs143223844,14,ENSG00000176165,dbSNP,28768437,28768437,FOXG1
4,rs147154860,14,ENSG00000176165,dbSNP,28768440,28768440,FOXG1

In [31]:
writer = pd.ExcelWriter('gene_associated_SNP.xlsx')
result.to_excel(writer,"gene_list.xlsx")
writer.save()